<div id="<%= dom_id guide %>">
  <p>
    <strong>Title:</strong>
    <%= guide.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= guide.content %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= guide.topic_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= guide.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= guide.status %>
  </p>

  <p>
    <strong>Live updates:</strong>
    <%= guide.live_updates %>
  </p>

</div>
